<div class="logo">
    <img class="mx-auto d-block" src="/assets/img/Espe-Angular-Logo.png" />
</div>
<div class="sidebar-wrapper">
    <p-fieldset legend="Busqueda" [toggleable]="true">
        <ul class="nav">
            <li>
                <span class="bmd-form-group">
                    <label for="cedula" class="font-weight-bold">Cédula:
                    </label>
                    <div class="input-group no-border">
                        <input type="text" #cedula class="form-control" placeholder="Ingrese su cédula..." (keypress)="numberOnly($event)"
                            maxlength="10">
                    </div>
                </span>
            </li>
            <!-- <li routerLinkActive="active" *ngFor="let menuItem of menuItems" class="{{menuItem.class}} nav-item ">
                    <a class="nav-link" [routerLink]="[menuItem.path]">
                        <i class="material-icons">{{menuItem.icon}}</i>
                        <p>{{menuItem.title}}</p>
                    </a>
                </li> -->
        </ul>
        <div class="row">
            <div class="col-12">
                <button mat-raised-button class="btn btn-success btn-round btn-sm pull-left" (click)="buscar(cedula.value)">
                    <i class="material-icons">search</i>Buscar</button>
                <button mat-raised-button class="btn btn-danger btn-round btn-sm pull-right" (click)="inicio();cedula.value=''">
                    <i class="material-icons">clear</i>Nuevo</button>
            </div>
        </div>
    </p-fieldset>
    <p-toast [style]="{'marginTop': '80px'}" [style.z-index]="9999"></p-toast>
</div>