<div class="main-content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header card-header-danger">
                <h4 class="card-title">Publicaciones</h4>
                <p class="card-category">Sistema para realizar publicaciones</p>
                <div class="row">
                    <div class="col-12">
                        <button mat-raised-button class="btn btn-primary btn-round btn-sm pull-right">
                            <i class="material-icons">add</i>Crear</button>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div id="typography">
                    <div class="card-title">
                        <h2>Publicaciones</h2>
                    </div>
                    
                    <div style="text-align: right">
                        <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                        <input type="text" pInputText class="form-control" size="25" placeholder="Búsqueda">
                    </div>
                    <table class="table">

                        <tr class="filters">
                            <th>
                                Id
                            </th>
                            <th>
                                Tipo
                            </th>
                            <th>
                                Fecha
                            </th>
                            <th>
                                Prioridad
                            </th>
                            <th>
                                estado
                            </th>
                            <th>
                                Opción
                            </th>

                        </tr>

                        <tr *ngFor="let publicaciones of publicacion">
                            <td>{{publicaciones.pubId}}
                            </td>

                            <td>{{ publicaciones.tipPubId}}
                            </td>
                            <td>{{publicaciones.pubFecha}}
                            </td>
                            <td>{{publicaciones.pubPrioridad}}
                            </td>

                            <td>{{publicaciones.pubEstado}}
                                <div class="progress">
                                    <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="20"
                                        aria-valuemin="0" aria-valuemax="100" style="width: 20%">
                                        <span class="sr-only">20% completado </span>
                                    </div>
                                </div>
                            </td>

                            <td>
                                <button mat-raised-button class="btn btn-success btn-round btn-sm pull-left">
                                    <i class="material-icons">videocam</i>Video</button>
                            </td>
                        </tr>

                    </table>

                </div>
            </div>
        </div>
    </div>
</div>